version: "3.9"

services:
  api:
    build: .
    container_name: user-management-service
    ports:
      - "5000:5000"
    env_file: .env
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:6
    container_name: user-management-db
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password123
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
